* {
  font-size: 1vw;
  font-family: Verdana;
  color: #333333;
}

:root {
  --form-control-color: #2f80ed;
  --form-control-disabled: #959495;
}


h1 {
  margin-top: 2vw;
  font-size: 3vw;
  text-align: center;
}

div.menu {
  margin-top: 3vw;
  margin-bottom: 1.5vw;
  margin-left: 25vw;
  margin-right: 25vw;
  width: 50.5vw;
  /* text-align: center; */
  border-bottom: 0.1vw solid #d6d6d6;
  display: flex
}

button.menuItem {
  margin-left: 5vw;
  margin-right: 5vw;
  width: 8vw;
  height: 4vw;
  border-color: transparent;
  background-color: transparent;
  /* border-style: hidden; */
  /* font-weight:bold; */
}
button.activeTab {
  border-bottom-color: #2f80ed;
  border-bottom-width: 0.3vw;
  /* border-bottom-left-radius: -50%; */
}

input[type="text"].newTaskBox {
  width: 38vw;
  margin-left: 25vw;
  margin-right: 2vw;
  border-radius: 0.75vw;
  border: 0.15vw solid #d6d6d6;
  height: 4vw;
  padding: 1vw;
}
input[type="submit"].newTaskSubmit {
  width: 10vw;
  border-radius: 0.75vw;
  border: 0.1vw solid #2f80ed;
  color: white;
  background-color: #2f80ed;
  height: 4vw;
}

ul.taskList {
  /* display: grid; */
  /* place-content: center; */
  list-style-type: none;
  padding: 0;
  margin-left: 25vw;
  margin-top: 4vw;
  width: 50vw;
  display: inline-block;
}

li.taskItem {
  margin-bottom: 2vw;
  width: 50vw;
}

div.taskText {
  width: 45vw;
  font-size: 2vw;
}

button.deleteTaskButton {
  width: 2.5vw;
  height: 3vw;
  background-color: transparent;
  border: transparent;
}

button.deleteAllButton {
  display: block;
  margin-left: 63vw;
  background-color:  #eb5757;
  width: 12vw;
  border-radius: 0.75vw;
  border: 0.1vw solid #eb5757;
  color: white;
  height: 4vw;
}

/* https://moderncss.dev/pure-css-custom-checkbox-style/ */
.taskLabel {
  font-size: 2vw;
  /* line-height: 1.1; */
  display: flex;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.taskLabel + .taskLabel {
  margin-top: 2em;
}

.taskLabel--disabled {
  color: var(--form-control-disabled);
  cursor: not-allowed;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15vw solid #828282;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 1.15em;
  height: 1.15em;
  border-radius: 0.15em;
  clip-path: polygon(0 0,
                     0 100%,
                     60% 100%,
                     12% 62%,
                     19% 54%,
                     38% 69%,
                     100% 5%,
                     69% 1%,
                     95% 25%,
                     23% 100%,
                     100% 100%,
                     100% 0);
  transform: scale(0);
  transform-origin: center;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: #2f80ed;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
input[type=checkbox] + div {
  font-size: 2vw;
}
input[type=checkbox]:checked + div{
  text-decoration: line-through;
}

/* input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
} */

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}


